<br></br>
<h1>About the Developers</h1></br>
<h2>Ami Mathur</h2>

<div class="agency-detail">
  <div class="row">
    <div class="col-sm-3">
      <div class="agency-detail-picture">
        <img src="#" alt="" class="img-responsive">
      </div><!-- /.agent-detail-picture -->
    </div>

    <div class="col-sm-8">
      <p>
        Donec faucibus metus sed eros euismod, eu viverra augue viverra. Sed auctor vel ligula nec molestie. Aenean a gravida metus, non sagittis nisl. Nunc quis sem sit amet leo tincidunt laoreet. Praesent a tempor nisl, id suscipit elit. Cras dolor turpis, posuere ut mollis id, rutrum eget augue. Aenean ut ligula quis neque ullamcorper tristique ut a ante. Vivamus enim erat, sollicitudin non facilisis accumsan, dictum nec libero.
      </p>

      <ul class="social social-boxed">
        <li><a href="https://www.linkedin.com/pub/ami-mathur/6/9a7/314" target="_blank" id="navbar-icon pull-right"><img title="Linkedin" src="http://i.imgur.com/5uowiQ2.png" alt="Linkedin" width="35" height="35"/></a></li>
        <li><a href="https://github.com/mathur7" target="_blank" id="navbar-icon pull-right"><img title="Github" src="http://i.imgur.com/l8E5Xaq.png" alt="Github" width="35" height="35"/></a></li>
        <li><a href="https://twitter.com/fotocurry" target="_blank" id="navbar-icon pull-right"><img title="Twitter" src="http://a0.twimg.com/a/1302026179/images/logos/twitter_newbird_white.png" alt="Twitter" width="35" height="35"/></a></li>
      </ul><!-- /.social-->
    </div>
  </div><!-- /.row -->
</div><!-- /.agency-detail -->

<h2>Tyler Buchanan</h2>

<div class="agency-detail">
  <div class="row">
    <div class="col-sm-3">
      <div class="agency-detail-picture">
        <img src="#" alt="" class="img-responsive">
      </div><!-- /.agent-detail-picture -->
    </div>

    <div class="col-sm-8">
      <p>
        Donec faucibus metus sed eros euismod, eu viverra augue viverra. Sed auctor vel ligula nec molestie. Aenean a gravida metus, non sagittis nisl. Nunc quis sem sit amet leo tincidunt laoreet. Praesent a tempor nisl, id suscipit elit. Cras dolor turpis, posuere ut mollis id, rutrum eget augue. Aenean ut ligula quis neque ullamcorper tristique ut a ante. Vivamus enim erat, sollicitudin non facilisis accumsan, dictum nec libero.
      </p>

      <ul class="social social-boxed">
        <li><a href="https://www.linkedin.com/pub/tyler-buchanan/26/a7b/b56" target="_blank" id="navbar-icon pull-right"><img title="Linkedin" src="http://i.imgur.com/5uowiQ2.png" alt="Linkedin" width="35" height="35"/></a></li>
        <li><a href="https://github.com/tbuchanan" target="_blank" id="navbar-icon pull-right"><img title="Github" src="http://i.imgur.com/l8E5Xaq.png" alt="Github" width="35" height="35"/></a></li>
        <li><a href="https://twitter.com/chanan415" target="_blank" id="navbar-icon pull-right"><img title="Twitter" src="http://a0.twimg.com/a/1302026179/images/logos/twitter_newbird_white.png" alt="Twitter" width="35" height="35"/></a></li>
      </ul><!-- /.social-->
    </div>
  </div><!-- /.row -->
</div><!-- /.agency-detail -->
<br></br>




