<div class="container">
<br></br>
<h1>About Us</h1></br>

  <div class="agency-detail">
    <div class="row">
      <div class="col-sm-3">
        <div class="agency-detail-picture">
          <img src="http://i.imgur.com/WsYqqKHl.jpg" class="img-responsive">
        </div><!-- /.agent-detail-picture -->
      </div><!-- col-sm-3 -->
  
      <div class="col-sm-8">
          <h2>Ami Mathur</h2>
          <p>
          Ami is a passionate photographer turned developer. She recently graduated from the 12 week web development immersive course at General Assembly in San Francisco.
  
          Some of the technologies learnt as part of the course include Ruby on Rails, Javascript, HTML5, CSS3, Ajax, jQuery, Sinatra, Meteor and Angular.  
  
          Ami is a creative at heart and loves working on products that are meaningful and that can have a positive impact on the community.</br>          
          Some little known facts about Ami:
          <br></br>  
          * She can have chocolates for breakfast, lunch and dinner</li><br>
          * She is a burner at heart</li><br>
          * She is easily distracted by funny animal videos </li><br>          
        </p>

        <ul class="social social-boxed">
          <li><a href="https://www.linkedin.com/pub/ami-mathur/6/9a7/314" target="_blank" id="navbar-icon pull-right"><img title="Linkedin" src="http://i.imgur.com/5uowiQ2.png" alt="Linkedin" width="35" height="35"/></a></li>
          <li><a href="https://github.com/mathur7" target="_blank" id="navbar-icon pull-right"><img title="Github" src="http://i.imgur.com/l8E5Xaq.png" alt="Github" width="35" height="35"/></a></li>
          <li><a href="https://twitter.com/fotocurry" target="_blank" id="navbar-icon pull-right"><img title="Twitter" src="http://a0.twimg.com/a/1302026179/images/logos/twitter_newbird_white.png" alt="Twitter" width="35" height="35"/></a></li>
        </ul><!-- /.social-->
      </div><!-- col-sm-8 -->
    </div><!-- /.row -->
  </div><!-- /.agency-detail -->


  <div class="agency-detail">
    <div class="row">
      <div class="col-sm-3">
        <div class="agency-detail-picture">
          <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/1380075_10201494754864278_541097543_n.jpg" alt="" class="img-responsive">
        </div><!-- /.agent-detail-picture -->
      </div>

      <div class="col-sm-8">
        <h2>Tyler Buchanan</h2>
        <p>
          Tyler is a former operations ninja turned developer. Like Ami, he recently graduated from the 12 week web development immersive program at General Assembly in San Francisco.
  
          Some of the technologies used during the program include Ruby on Rails, Javascript, Coffeescript, HTML5, CSS3, Ajax, jQuery, Sinatra and Angular.  
  
          Tyler is a creative, out of the box thinker with a passion for coding, who wants to build and work on projects that better peoples' lives. </br>
  
          Some little known facts about Tyler: 
          <br></br>
          * He can eat the same thing for lunch everyday</li><br>
          * Once upon a time he was a very good snowboarder</li><br>
          * He coined the terms and technical use of 'taco' and 'squaries' during the March WDI cohort</li><br>
          * He requires coffee to survive in the wild</li><br>
        </p>

        <ul class="social social-boxed">
          <li><a href="https://www.linkedin.com/pub/tyler-buchanan/26/a7b/b56" target="_blank" id="navbar-icon pull-right"><img title="Linkedin" src="http://i.imgur.com/5uowiQ2.png" alt="Linkedin" width="35" height="35"/></a></li>
          <li><a href="https://github.com/tbuchanan" target="_blank" id="navbar-icon pull-right"><img title="Github" src="http://i.imgur.com/l8E5Xaq.png" alt="Github" width="35" height="35"/></a></li>
          <li><a href="https://twitter.com/chanan415" target="_blank" id="navbar-icon pull-right"><img title="Twitter" src="http://a0.twimg.com/a/1302026179/images/logos/twitter_newbird_white.png" alt="Twitter" width="35" height="35"/></a></li>
        </ul><!-- /.social-->
      </div>
    </div><!-- /.row -->
  </div><!-- /.agency-detail -->
<br></br>
</div><!-- container -->


