<div class="container">
  <br></br>
  <h2 id="feed">Feedback? Please send us a message.</h2>
  <form method="post" action="?" class="box">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control">
        </div><!-- /.form-group -->
      </div>
  
      <div class="col-sm-6">
        <div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control">
        </div><!-- /.form-group -->
      </div>
    </div><!-- /.row -->
  
    <div class="form-group">
      <label>Message</label>
      <textarea rows="8" class="form-control"></textarea>
    </div><!-- /.form-group -->
  
    <div class="form-group">
      <input type="submit" value="Send" class="btn btn-success">
    </div><!-- /.form-group -->
  </form>
<div>