<div class="container">  
  <h1>FAQ</h1></br>
  
    <h2>What's a Popup?</h2>
  <p>Pop-ups are temporary businesses that show up at designated venues for a limited period of time.
  There are typically no promotional activities for Pop-ups. At the moment, the best way to find them is through word-of-mouth or through sheer seredipidity. </p>

  
  <h2>Which cities does Popspotz cover?</h2>
  <p>At the moment we are focusing on San Francisco but we will be expanding to other major American cities soon.</p>
  
  <h2>I know of an amazing Popup! Can I add it to your database?</h2>
  <p>Yes you can!! In fact, all of our database is user-generated. So if you see, hear or find a popup, use our form to add the information.</p>
  
</div>