/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require assets/libraries/jquery-bxslider/jquery.bxslider
 *= require assets/libraries/flexslider/flexslider
 *= require assets/scss/realocation
 */

@import url(http://fonts.googleapis.com/css?family=Ewert);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700);

p {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

#comment_field {
  width: 300px;
}

#zoomIn {
  color: black;
}

#zoomOut {
  color: black;
}

h2 {
  color: #D3D3D3;
  font-family: 'Droid Sans', sans-serif;
}
 
label {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

i {
  color: #D3D3D3;
  font-family: 'Playfair Display', serif;
}

h4 {
 color: #D3D3D3;
 font-size: 30px;
 font-weight: bold;
 font-family: 'Droid Sans', sans-serif;
}

#jumbo {
  width: 35%;
  padding-left: 20px;
  margin-left: 0em;
}

.btn-danger {
float: right;
clear: both;
line-height: 0.5;
}

a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}

a.navbar-brand {
  font-family: 'Ewert', cursive;
  font-size: 35px;
  margin-top: -2px;
}

.form-group {
  margin-top: 5px;
}

a.navbar-brand:hover, a.navbar-brand:hover:focus {
  text-decoration: underline;
}

html, body {
  height: 100%;
}

h3 {
  margin-top: 0;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  color: #2980b9;
}

.navbar {
  background-color: white;
}

div.jumbotron {
  background-color: #F8F8FF;
  width: 1126px;
  margin-left: 1em;
}

.container {
  margin-top: 27px;
}

.container .jumbotron {
border-radius: 5px;
background: #D3D3D3;
padding-top: 20px;
padding-bottom: 20px;

}

body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  height: 100%; 
  
}

ul {
  
  font-family: 'Droid Sans', sans-serif;
}

input, button, select, textarea {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}

ul#popups {
  padding-left: 25px;
  background-color: #D3D3D3;
  margin-left: 15px;
  border-radius: 5px;
  overflow: scroll;
  border-radius: 3px;
  height: 800px;

}

#map-canvas {
  width: 100%;
  height: 65%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  position: absolute;
  z-index: 0; 
}

#google {
  float: right;  
}


/*img {
  position: inline;
}*/

li {
  list-style-type: none;
  font-size: 25px;
}

input#name {
  width: 11em;
}

input#description {
  width: 11em;
}

input#price {
  width: 11em;
}

input#address {
  width: 11em;
}

input#hours {
  width: 11em;
}

input#expires_at {
  width: 11em;
}

input#website {
  width: 11em;
}

.block-content{
  margin-top: 400px;
}

/*test code below*/
/*div, html {
  border: 1px solid #f0f;
}*/
