/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Ewert);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700);

#jumbo {
  width: 35%;
  padding-left: 20px;
}

#google {
  float: right;
  margin-top: 5px;
}

.btn-danger {
float: right;
clear: both;
line-height: 0.5;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

a.navbar-brand {
  font-family: 'Ewert', cursive;
  font-size: 35px;
  margin-top: -2px;
}

.form-group {
  margin-top: 5px;
}

a.navbar-brand:hover, a.navbar-brand:hover:focus {
  text-decoration: underline;
}

#popups {

}

h3 {
  margin-top: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #2980b9;
}

.navbar {
  background-color: #ADD8E6;
}


div.jumbotron {
  background-color: #F8F8FF;
}

.container {
  margin-top: 27px;
}

.container .jumbotron {
border-radius: 5px;
/*background: repeating-linear-gradient(circle at 0 0, #ADD8E6, #F8F8FF);*/
background: #D3D3D3;
padding-top: 20px;
padding-bottom: 20px;

}

body {
  background-color: #F5F5F5;
  font-family: 'Playfair Display', serif;
}

ul {
  
  font-family: 'Playfair Display', serif;
}

input, button, select, textarea {
font-family: 'Playfair Display', serif;
font-size: 12px;
}

ul#popups {
  padding-left: 19px;
}


