/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require assets/scss/realocation
 */

@import url(http://fonts.googleapis.com/css?family=Ewert);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700);

p {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

button#add.btn.btn-primary {
  margin-top: 15px;
  margin-left: 12em;
  margin-right: 30px;
}

a.navbar-link {
color: white;
}

#slash {
  color: white;
}

.links {
  margin-top: 3px;
  word-spacing: 3px;
  padding-left: 0px;
}

#logged {
  font-size: 11px;
  line-height: 16px;
  margin-top: 10px;
}

#feed {
  margin-top: -25px;
}

#location {
  width: 352px;

  .small {
    
  }
}


#hours {
  color: #899180;
}

.btn-success {
  margin-top: 19px;
}

#comment_field {
  width: 300px;
}

#zoomIn {
  color: black;
}

#zoomOut {
  color: black;
}

/*added some margin and positioning*/
.block-content-inner {
  padding: 0em 0em 0em 4em;
}

#meta-image {
  border: 1px solid #CFDADA;
}

.row-meta {
  margin-left: 3em;
  margin-right: -7em;
  font-weight: bold;
  font-size: 17px;
  margin-top: -14em;
  text-align: center;
}

#meta {
  color: rgb(240, 160, 40);
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

label {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

i {
  color: black;
  font-family: 'Playfair Display', serif;
}

h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
  text-decoration:none;
}

#jumbo {
  width: 35%;
  padding-left: 20px;
  margin-left: 0em;
  border-radius: 4px;
}

.btn-danger {
  float: right;
  clear: both;
  line-height: 0.5;
}

a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  text-decoration:none;
}

a.navbar-brand {
  font-family: 'Ewert', cursive;
  font-size: 35px;
  margin-top: 10px;
  color:white;
  text-decoration:none;
}

.form-group {
  margin-top: 5px;
}

a.navbar-brand:hover, a.navbar-brand:hover:focus {
  text-decoration: underline;
}


html, body, {
  height: 100%;
  overflow: hidden;
}



h3 {
  margin-top: 0;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  color: black;
}

.navbar {
  background-color: #f48f5c;
  text-align: center;
}

div.jumbotron {
  background-color: #f48f5c;
  width: 1126px;
  margin-left: 1em;
  border:solid white 2px;
}

.container {
  margin-top: 27px;
}

.container .jumbotron {
border-radius: 5px;
background: #b9bbbe;
padding-top: 20px;
padding-bottom: 20px;
}

body {
  font-family: 'Droid Sans', sans-serif;
  height: 100%; 
}

ul {  
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

input, button, select, textarea {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}

ul#popups {
  padding-left: 25px;
  background-color: #54B54A;
  margin-left: 15px;
  height: 800px;
  overflow: scroll;
  border-radius: 3px;
  height: 800px;
}

.map-zoom {
  margin-top: -300px;
  opacity: 0.75;
  padding: 0px 0px 0px 37px;
}

#map-canvas-index {
  width: 100%;
  height: 450px;
  border: 1px solid #7f8c8d;
  margin-top: 34px;
}

#map-search {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 7%;
  border-radius: 5px;
  position: absolute;
  z-index: 200;
}

#direction-button {
  margin-top: -49px;
  padding: 0px 0px 0px 328px;
}

#google {
  float: right;  
}


li {
  list-style-type: none;
  font-size: 14px;
}

input#name {
  width: 11em;
}

input#description {
  width: 11em;
}

input#price {
  width: 11em;
}

input#address {
  width: 11em;
}

input#hours {
  width: 11em;
}

input#expires_at {
  width: 11em;
}

input#website {
  width: 11em;
}

/*test code below*/
/*div, html {
  border: 1px solid #f0f;
}*/
#directions{
  padding: 2px 2px 2px 2px;
  margin-left: 1px;
  margin-top: 1em;
  border: 1px solid black;
  background-color: white;
}

.get-direct {
  margin-left: 0em;
  margin-top: 19em;
  margin-bottom: 0px;
}

/*.navbar-static-bottom {
   position:absolute;
   margin-top:3000px;
   width:100%;
   height:100%;   /* Height of the footer 
   /*background:#F25D1D;*/
/*}
*/
.popupinfo{
  background: white;
  padding:15px;
  padding-left:110px;
} 

#popupMap{
  margin-left:20%;
}

.mapinfo{
  margin-left:20%;
}

p {
  font-size:17px;
}


