@media screen and (min-width: 767px) and (max-width: 4000px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar-form.navbar-fluid {
    position: relative;
  }

  input#q.form-control {
    margin: 0em 0em 3px -150px;
    font-size: 8px;
    width: 20em;
  }

  input#location.form-control {
    margin: 0em 42px 0em -150px;
    width: 20em;
    font-size: 8px;
    padding: 0em 0em 0em 12px;
  }

  input#home-search.btn.btn-info {
    margin: 10px 0px 0px -145%;
    position: absolute;
  }

  div.navbar-form {
    margin: 3em 0em -1em -85px;
    position: relative;
  }

  div.navbar-form.pull-right ul.links{
    margin: -35px 0px 0px -500%;
    z-index: 1;
    position: absolute;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  #copyright {
    text-align: center;
    font-size: 8px;
    color: white;
    position: absolute;
    margin: 0 auto;
    float: none !important;
  }

  .navbar-fixed-bottom {
    display: none !important;
  }

  a.navbar-brand {
    font-family: 'Ewert', cursive;
    font-size: 25px !important;
    margin-top: 10px;
    color:white;
    text-decoration:none;
  }

  
  


} /*media only*/
