#image-row {
  /*border: 2px solid black;*/
  width: 100%;
  position: relative;

}


#copyright {
  margin: 1.2% 2.2% 0% 0%;
  font-size: 8px;
  color: white;
  position: relative;
  float: right;
}

#business-image {
  background-color: white;
}

#show-jumbo {
  background-color: white;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.devise-signin {
  margin-top: 7em;
  padding: 2px 0px 0px 8em;
}

.devise-sign {
  margin-left: -64px;
}

.jumbotron p {
  font-size: 18px !important;
}

p {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

button#add.btn.btn-primary {
  margin-top: 15px;
  margin-left: 12em;
  margin-right: 30px;
}

a.navbar-link {
color: white;
}

a.comment-link {
color: black;
margin: 0px 0px 0px 348px;
}

a.comment-link a:hover{
color: orange

}

#slash {
  color: white;
}

.links {
  margin-top: 3px;
  word-spacing: 3px;
  padding-left: 0px;
}

#logged {
  font-size: 11px;
  line-height: 16px;
  margin-top: 10px;
}

#feed {
  margin-top: -25px;
}

#location {
  width: 300px;
  
}

#q {
  width: 125px;
}


#hours {
  color: #899180;
}

.btn-success {
  margin-top: 19px;
}

#comment_field {
  width: 300px;
}

#zoomIn {
  color: black;
  
  
}

#zoomOut {
  color: black;
  
  
}

/*added some margin and positioning*/
.block-content-inner {
  padding: 0em 0em 0em 4em;
  margin-top: -6em;
}

#meta-image {
  border: 1px solid #CFDADA;
}

.row-meta {
  margin-left: 3em;
  margin-right: -7em;
  font-weight: bold;
  font-size: 17px;
  margin-top: -14em;
  text-align: center;
}

#meta {
  color: rgb(240, 160, 40);
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

label {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

i {
  color: black;
  font-family: 'Playfair Display', serif;
}

h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
  text-decoration:none;
}

#jumbo {
  width: 100%;
  margin-left: 0px;
  border-radius: 5px;
  background: #e9e6db;
}

.btn-danger {
  float: right;
  clear: both;
  line-height: 0.5;
}

a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  text-decoration:none;
}

a.navbar-brand {
  font-family: 'Ewert', cursive;
  font-size: 35px;
  margin-top: 10px;
  color:white;
  text-decoration:none;
}

.form-group {
  margin-top: 5px;
}

a.navbar-brand:hover, a.navbar-brand:hover:focus {
  text-decoration: none;
}


html, body, {
  height: 100%;
  overflow: hidden;
}



h3 {
  margin-top: 0;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  color: black;
}

.navbar {
  background-color: #f48f5c;
  text-align: center;
}

div.jumbotron {
  background-color: #f48f5c;
  width: 1126px;
  margin-left: 1em;
  border:solid white 2px;
  margin: 0 auto;
}

.container {
  margin-top: 27px;
}

.container .jumbotron {
  border-radius: 5px;
  background: #b9bbbe;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

body {
  font-family: 'Droid Sans', sans-serif;
  height: 100%; 
}

ul {  
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

input, button, select, textarea {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}

ul#popups {
  padding-left: 25px;
  background-color: #54B54A;
  margin-left: 15px;
  height: 800px;
  overflow: scroll;
  border-radius: 3px;
  height: 800px;
}

.map-zoom {
  margin: -1.5% 0px 0px 55.5%;
  opacity: 0.75;
  border-radius: 5px;
  position: absolute;
}

#map-canvas-index {
  width: 100%;
  height: 450px;
  border: 1px solid #7f8c8d;
  margin-top: 60px;
}

#map-search {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: static;
  margin-top: 60px;
}

#google {
  float: left;
  border-radius: 5px;
}

#pop-image {
  border-radius: 5px;
  border: 1px solid white;
  float: left;
  position: absolute;
  /* percentage better for mobile */
  margin: 2.2% 5.3% 2.6% 0%;
}


.comments {
  margin-left: 10em;
}

li {
  list-style-type: none;
  font-size: 14px;
}

input#name {
  width: 11em;
}

input#description {
  width: 11em;
}

input#price {
  width: 11em;
}

input#address {
  width: 11em;
}

input#hours {
  width: 11em;
}

input#expires_at {
  width: 11em;
}

input#website {
  width: 11em;
}

#get-direct {
  background-color: none;
  font-weight: bold;
  /*margin: 26% 0% 0% 54.5%;*/
}

/*.navbar-static-bottom {
   position:absolute;
   margin-top:3000px;
   width:100%;
   height:100%;   /* Height of the footer 
   /*background:#F25D1D;*/
/*}
*/

.popup-info{
  background: white;
  border-radius: 5px;
  /*position: relative;*/
  margin-top: 30%;
} 

#show-box {
  margin-left: 0;
  margin-right: 0;
  margin-top: 22px;
  background-color: #e9e6db;
  border-radius: 5px;
  border: 1px solid white;
}

.col-sm-6.col-md-6.col-lg-6 {
  margin-top: 16px;
}

#top-column {
  margin-top: -2px;
}

#popupMap{
  margin: 0% 0% 0% 54.7%;
  border-radius: 5px;
  border: 1px solid white;
  position: absolute;
}

.mapinfo{
  margin-left:20%;
}

.star {
  margin-top: 5px;
}

p {
  font-size:17px;
}
